In [1]:
"""Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple"""


a = 'hello'
a

'hello'

In [2]:
l=[512,4.54,'abc',True]
l

[512, 4.54, 'abc', True]

In [3]:
b=12.5455
b

12.5455

In [4]:
t=("rose","lilly","jasmin")
t

('rose', 'lilly', 'jasmin')

In [ ]:
"""Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable."""

Ans. 
(i) var1 = ‘ ‘
String

(ii) var2 = ‘[ DS , ML , Python]’
String

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
List

(iv) var4 = 1.
Float

In [ ]:
"""
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) ** 
"""

In [9]:
#Divide
123/50

2.46

In [7]:
#Modulo
5%2

1

In [11]:
#returns the largest possible integer
123//50

2

In [12]:
#Exponentiation 
2**3

8

In [17]:
"""Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""

abc = [50, "apple", 3.0, True, [8],]
for i in abc:
    print(element, type(i))

[8] <class 'int'>
[8] <class 'str'>
[8] <class 'float'>
[8] <class 'bool'>
[8] <class 'list'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
"""Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""
A = 50
B = 5
count = 0

while A % B == 0:
    A = A // B
    count += 1

print(count)

2

In [16]:
"""Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""
my_list = [i for i in range(1,26)]
for i in my_list:
    if i % 3 == 0:
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property. """

In [ ]:
""" Ans.Mutable data types can be changed and imutable datatypes cannot be changed."""

In [18]:
l4= [55,62,456,78]
l4

[55, 62, 456, 78]

In [19]:
l4[3] = 500

In [20]:
l4

[55, 62, 456, 500]

In [28]:
t=(152,565,544)
t

(152, 565, 544)

In [29]:
t[0]

152

In [31]:
t[0]=56 #values inside a tuple can't be change since tuple is imutable

TypeError: 'tuple' object does not support item assignment